## SQL Demo Code

### Imports
For this demo, we added one import that helps us connect to sql

In [1]:
import requests
from bs4 import BeautifulSoup
import mysql.connector

### BeautifulSoup Code and SQL Connections
To connect to SQL, we can create variables called cnx and cursor as shown below.

To execute and copy our data (found using BeautifulSoup) to our SQL table, we need the last 3 lines of code below our previous work. When creating the statement line, you need one instance of %s in the VALUES for each column of data.

In [3]:
cnx = mysql.connector.connect(user = 'wsa',
                             host = '34.68.250.121',
                             database = 'Tutorials-Winter2024',
                             password = 'LeBron>MJ!')
cursor = cnx.cursor(buffered = True)

years = ['2011', '2012', '2013', '2014', '2015', '2016', '2017', '2018', '2019', '2020', '2021', '2022', '2023']
for year in years:
    url = requests.get(f"https://www.sports-reference.com/cfb/schools/michigan/{year}/gamelog/")
    soup = BeautifulSoup(url.text, 'html.parser')
    #print(soup.prettify())
    
    table = soup.find("div", attrs = {'id': 'div_offense'}).find("table")
    #print(rosterTable)
    
    tableRows = table.find('tbody').find_all("tr")
    #print(tableRows)

    for row in tableRows:
        #print(row)
        #print("----------------")
        
        columns = row.find_all("td")
        
        date = columns[0].find('a').text
        year = int(date.split('-')[0])
        
        home_away_section = columns[1].text
        if home_away_section == '':
            home_away = 'Home'
        elif home_away_section == '@':
            home_away = 'Away'
        else:
            home_away = 'Nuetral'
        
        opponent = columns[2].find('a').text
        
        result_list = columns[3].text.split(' ')
        result = result_list[0]
        points_scored = int(result_list[1].split('-')[0][1:])
        points_against = int(result_list[1].split('-')[1][:-1])
        
        pass_cmp = int(columns[4].text)
        pass_att = int(columns[5].text)
        pass_pct = float(columns[6].text)
        pass_yrds = int(columns[7].text)
        pass_td = int(columns[8].text)
        pass_1st_down = int(columns[16].text)
        
        rush_att = int(columns[9].text)
        rush_yrds = int(columns[10].text)
        rush_td = int(columns[12].text)
        rush_1st_down = int(columns[17].text)
        
        total_offense = int(columns[14].text)
        fumbles = int(columns[22].text)
        ints = int(columns[23].text)
        
        #values = [date, year, opponent, home_away, result, points_scored, points_against, pass_cmp, pass_att, pass_pct,
                 #pass_yrds, pass_td, pass_1st_down, rush_att, rush_yrds, rush_td, rush_1st_down, total_offense, fumbles, ints]
        #print(values)
        values = [date, year, opponent, home_away, result, points_scored, points_against]
        
        #statement = "INSERT INTO Michigan_GameLogs_zack_eisman (date, year, opponent, home_away, result, points_scored, points_against, pass_cmp, pass_att, pass_pct, pass_yrds, pass_td, pass_1st_down, rush_att, rush_yrds, rush_td, rush_1st_down, total_offense, fumbles, ints) VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)"
        statement = "INSERT INTO W24_test_table (date, year, opponent, home_away, result, points_scored, points_against) VALUES (%s, %s, %s, %s, %s, %s, %s)"
        
        
        # last 2 lines are commented out so we don't inadvertenly add all our data to SQL twice and create duplicate rows
        cursor.execute(statement, values)
        cnx.commit()

### Create a SQL Table
Once you write that code, go into mySQL or SequelAce and create the table in the correct schema.

Then, come back and run your code to add it to your SQL table.

### Running SQL Commands

1. SELECT * FROM 'Tutorials-Winter2024'.Michigan_GameLogs_zack_eisman;
* used to select all of our rows from the table

2. SELECT opponent, result FROM 'Tutorials-Winter2024'.Michigan_GameLogs_zack_eisman;
* used to select only certain columns from the table

3. SELECT opponent, result, points_scored FROM 'Tutorials-Winter2024'.Michigan_GameLogs_zack_eisman WHERE points_scored >= 35;
* used to select only certain columns from the table when a certain condition is met

4. SELECT * FROM 'Tutorials-Winter2024'.Michigan_GameLogs_zack_eisman ORDER BY pass_yrds DESC;
* used to order our table by one of the columns

5. INSERT INTO 'Tutorials-Winter2024'.Michigan_GameLogs_zack_eisman (year, opponent, result, points_scored, points_against) VALUES (2024, 'Ohio State', 'W', 42, 0);
* used to insert a new row into the bottom of our table
* if you run example 1 again, the new game will be visible at the bottom

6. UPDATE 'Tutorials-Winter2024'.Michigan_GameLogs_zack_eisman SET points_scored = 56 WHERE id = [insert correct id]
* used to update a row in the table using its id

7. DELETE FROM 'Tutorials-Winter2024'.Michigan_GameLogs_zack_eisman WHERE id = [insert correct id];
* used to delete a row from the table using its id